<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        text="Volver"
        color=""></ion-back-button>
    </ion-buttons> 
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo de Google" class="google-logo">
  </div>

  <form color="mycolor">
    <ion-item color="mycolor">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="txtNom" [(ngModel)]="newAnimalito.nombre" required></ion-input>
    </ion-item>

    <ion-item color="mycolor">
      <ion-label position="floating">Tipo Mascota</ion-label>
      <ion-input type="text" name="txtTipo" [(ngModel)]="newAnimalito.tipoMascota" required></ion-input>
    </ion-item>

    <ion-item color="mycolor">
      <ion-label position="floating">Raza</ion-label>
      <ion-input type="text" name="txtRaza" [(ngModel)]="newAnimalito.raza" required></ion-input>
    </ion-item>

    <ion-button (click)="crearMascota()" expand="full" shape="round" routerLink="/inicio" class="clase-color">Añadir Mascota</ion-button>
  </form>

</ion-content>
