ion-content{
    --ion-background-color: #1d3422
}

ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

ion-menu{
    --ion-background-color: #1d3422
}

.cartas{
    background-color: #20562b;
    color: white;
}
