<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()" >
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">apinoti</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="ion-padding">
    <h1>Bienvenido a nuestro portal de noticias!</h1>
    <p>Aquí encontrarás noticias actualizadas</p>
  
<!--     <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
            *ngFor="let c of articulos; let i=index">
          
            <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <span class="text-primary">{{i+1}}</span>
                <span>{{c.source.name}}</span>
              </ion-card-subtitle>
              <ion-card-title>{{c.title}}</ion-card-title>
            </ion-card-header>
            <ion-img *ngIf="c.urlToImage" [src]="c.urlToImage"></ion-img>
            <ion-card-content>
              <p>
                {{c.content}}
              </p>
            </ion-card-content>
          </ion-card>
          

        </ion-col>
      </ion-row>
    </ion-grid> -->
    
    <!-- Información sobre noticias -->
    <ion-card *ngFor="let c of articulos; let i=index" class="cartas" >
      <ion-card-header>
        <ion-card-subtitle>
          <span class="text-primary">{{i+1}} &nbsp;</span>
          <span>{{c.source.name}}</span>
        </ion-card-subtitle>
        <ion-card-title>{{c.title}}</ion-card-title>
      </ion-card-header>
      <ion-img *ngIf="c.urlToImage" [src]="c.urlToImage"></ion-img>
      <ion-card-content>
        <p>{{c.content}}</p>
      </ion-card-content>
      <ion-card-content style="text-align: center; text-decoration: none;">
        <a href="{{c.url}}">Ver Noticia completa aquí</a>
      </ion-card-content>
    </ion-card>

</ion-content>
